body {
    background: #F2F4F5;
}

.card_link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/*.group_item {
    padding: 5px 15px;
    font-size: 0.9rem;
}
.card_body {
    padding: 15px 15px 0 15px; 
    max-height: 12%;
    !*text-align: center;*!
}
.card_img_container {
    height: 50%;
    width: fit-content;
    margin: 0 auto;
    padding: 15px 0;
}
.card_img {
    height: 100%;
    transition: transform 0.3s ease-in-out;
}
.card_container {
    width: 18rem;
    height: 23rem;
}*/
